@page "/"

<h1> Welcome to your own Bartender web app</h1>

<p>Dont know what to drink? 
    Not sure on how to make a drink?
    We got you</p>

<p> Lets say you have a fav liqure find drinks based of of that</p>
<p> Or if your filling frisky try out a random Drink!</p>
<p> The side navigation will guid you on what you would like to do</p>