@page "/"

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<style>
    body{
        background: light grey;
    }

</style>
<!-- notification for small viewports and landscape oriented smartphones -->



<header class="w3-container w3-theme w3-padding" id="myHeader">

    <div class="w3-center w3-dark-grey">
        <a class="header--logo" href="#0">
            <img src="/image/COcktailDBLogo.png" alt="CDB">

        </a>
        <h4>DONT BE SCARED OF YOUR NEXT ADVENTURE!</h4>
        <h1 class="w3-xxxlarge w3-animate-bottom">YOUR COCKTAILDB GUID</h1>
        <div class="w3-padding-32">
            <button class="w3-btn w3-center w3-dark-grey w3-hover-light-grey" onclick="document.getElementById('id01').style.display='block'" style="font-weight:900;">VIST JAMEY GEOGHAGAN</button>
        </div>
    </div>
</header>

<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-top">
        <header class="w3-container w3-theme-l1">
            <span onclick="document.getElementById('id01').style.display='none'"
                  class="w3-button w3-display-topright">×</span>
            <h4>Visit Jamey </h4>
            <h5>Why not right! <i class="fa fa-smile-o"></i></h5>
        </header>
        <div class="w3-padding">
            <p>Cool huh? Ok, enough teasing around..</p>
            <p>Check me out</p>
            <a href="#"><i class="fab fa-linkedin">Linkedin</i></a>
            <a href="https://github.com/Jamey0621">Github</a><i class="fab fa-github-square"></i>
            <a href="#"><i class="fas fa-code">MySoonToBeWebSite</i></a>
        </div>
        <footer class="w3-container w3-theme-l1">
            <p>JameyG </p>
        </footer>
    </div>
</div>

<div class="w3-row-padding w3-center w3-margin-top">
    <div class="w3-third">
        <div class="w3-card w3-container" style="min-height:460px">
            <h3>Drinks With Vodka</h3><br>
            <i class=" w3-margin-bottom w3-text-theme" style="font-size:120px"><img src="/image/Vodka.jpg" alt="Alternate Text" /></i>
            <p>List of drinks made with</p>
            <p>Vodka</p>
            <a href="/ByIngredient">Click Me</a>
        </div>
    </div>

    <div class="w3-third">
        <div class="w3-card w3-container" style="min-height:460px">
            <h3>Drinks Made with Rum</h3><br>
            <i class=" w3-margin-bottom w3-text-theme" style="font-size:120px"><img class="justify-content-around" src="/image/Rum.jpg" alt="Alternate Text" /></i>
            <p>List of drinks made with</p>
            <p>Rum</p>
            <a href="/WithRum">Click Me</a>
        </div>
    </div>
    <div class="w3-third">
        <div class="w3-card w3-container" style="min-height:460px">
            <h3>Drinks Made with Tequila </h3><br>
            <i class=" w3-margin-bottom w3-text-theme" style="font-size:120px"><img class="align-items-md-center small" src="/image/Tequila.jpg" alt="Alternate Text" /></i>
            <p>List of drinks made with</p>
            <p>Tequila</p>
            <a href="/WithTequila">Click Me</a>
        </div>
    </div>
    <div class="w3-third">
        <div class="w3-card w3-container" style="min-height:460px">
            <h3>Drinks Made with Whisky</h3><br>
            <i class=" w3-margin-bottom w3-text-theme" style="font-size:120px"><img class="small" src="/image/Whisky.jpg" alt="Alternate Text" /></i>
            <p>List of drinks made with</p>
            <p>Whisky</p>
            <a href="/WithWhisky">Click Me</a>
        </div>
    </div>
    <div class="w3-third">
        <div class="w3-card w3-container" style="min-height:460px">
            <h3>Drinks Made For The DD</h3><br>
            <i class="fa fa-smile-o w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
            <p>List of drinks made with</p>
            <p>No Achohol</p>
            <a href="/ByIngredient">Click Me</a>
        </div>
    </div>

    <div class="w3-row w3-border w3-center">
        <div class="w3-half w3-container w3-hover-light-grey w3-border">
            <h5>Lets Get Random</h5>
            <p>If Your Fillin Lucky Try Out A Random Drink!</p>
            <img class=" card-img w3-half" src="/image/Crazy.jpg" alt="Alternate Text" />
            <a href="/RandomDrink">Lets Get Intresting</a>
        </div>
        <div class="w3-half w3-container w3-dark-grey">
            <h5>Remember to Drink Responsible!</h5>
        </div>
    </div>
    <br>

</div>


       
        
     
