@page "/NonAlcoholic"
<h3>NonAlcoholic</h3>

<table class=" table tab-content">
    <thead class="thead-light">
        <tr>
            <th>Drink Name</th>
            <th>Drink Pic</th>
            <th> Drink ID</th>

        </tr>
    </thead>
    <tbody class="tab-content">

        @foreach (var item in randomdrink)
        {
            <tr>
                <td> @item.strDrink</td>
                <td><img class=" img-thumbnail small " src="@item.strDrinkThumb" alt="Alternate Text" /></td>
                <td> <a href="@($"/DrinkById/{item.idDrink}")" class="nav-link">@item.idDrink</a> </td>
            </tr>
        }

        @code{

        }



    </tbody>
</table>




@code {


    List<DrinkModelData> randomdrink;
    string errorString;

    protected override async Task OnInitializedAsync()
    {


        var client = new HttpClient();
        var drinkURL = "https://www.thecocktaildb.com/api/json/v1/1/filter.php?a=Non_Alcoholic";
        var drinkResponse = client.GetStringAsync(drinkURL).Result;
        var drinkQuote = JObject.Parse(drinkResponse).GetValue("drinks").ToString();
        var DrinkR = JArray.Parse(drinkQuote).ToString();

        List<DrinkModelData> drink = JsonConvert.DeserializeObject<List<DrinkModelData>>(drinkQuote);



        randomdrink = drink;
    }
}
        }

